auto-whitelist
auto-whitelist.mutex
bayes.mutex
bayes_journal
bayes_seen
bayes_toks
.procmailrc-local
.profile
.karl
.Xauthority
.bash_history
.bash_profile
.bashrc
.emacs
.emacs.d
.forward
.gnupg
.gitignore
.htoprc
.mailcap
.passwords.lists.gnu.org
.screenrc
.ssh
Mail
badlists
cgi-bin
junk
list-of-lists
list-of-lists.spam
log
mbox
procmailrc
samples
stats
test-daily.png
test-hourly.png
test.png
var
bin/mail-trial.rb
bin/mailman-dump
bin/mailman-dump.rb
bin/mailman-filter-hacking
.hushlogin
.lesshst
etc
sent
